[2018-07-10 17:07] izhukov opened #2 "Plugin issue multiple vault tokens on single OIDC token"
When trying to login several times with one OIDC token plugin successfully create multiple tokens.

I believe the expected behavior must be opposite. One vault token for one OIDC token. And the second attempt must return ether same token or error.

[2018-07-10 17:11] izhukov opened #3 "Plugin produce renewable token when "period" is not set in role"
When a plugin is configured with some role and "period" don't set for it plugin create a renewable token.

The expected behavior is when a "period" is not set issued token must be not renewable.

[2018-07-10 17:16] izhukov opened #4 "Limit role to specified group clame."
Are there is any way to limit role to the specific group from JWT group claim?

[2018-07-10 18:48] v6 opened #5 "// , Broken link in the README.md"
// , Both of these links to https://www.vaultproject.io/docs/auth/jwt.html lead to a 404 error:

![image](https://user-images.githubusercontent.com/5750764/42530760-d859efac-8436-11e8-9294-55e01fee12b5.png)

Looks like there's nothing currently in vaultproject.io about Generic JWTs as a supported authentication method.

https://duckduckgo.com/?q=site%3Avaultproject.io+jwt+auth&t=h_&ia=web

https:/

[2018-07-11 17:03] izhukov opened #6 "Login without providing role"
For now one of the parameter to login endpoint id "role". For our use case, it will be better to drop this parameter. Without this parameter, the plugin must decide what policy to bind to the new token.
To do this properly the role must have a place to fill some binding to user/groups.

@jefferai Is it sane enhancements, WDYT?

[2018-07-12 00:45] ryanmickler commented on #5
The correct page is here.
https://github.com/hashicorp/vault/blob/6b4f6b93613dc2bf335860dc890ce4000f92f13a/website/source/docs/auth/jwt.html.md

[2018-07-12 01:05] v6 commented on #5
// , Thanks Ryan. Just had a meeting about using this.

[2018-07-12 01:10] ryanmickler commented on #5
you will also need
https://github.com/hashicorp/vault/blob/6b4f6b93613dc2bf335860dc890ce4000f92f13a/website/source/api/auth/jwt/index.html.md

[2018-07-12 14:02] jefferai commented on #6
I'm not sure I really follow, but I think there could be a config option that specifies a claim that contains the role. So you could encode the role into the JWT itself.

[2018-07-12 14:02] jefferai commented on #5
That's because this isn't released, so the documents are not our our site yet.

[2018-07-12 14:02] #5 closed

[2018-07-12 14:04] jefferai commented on #3
The Vault token is renewable up to the maximum TTL you set. This lets you keep the initial TTL short but still constrain it to a maximum lifetime. It also lets clients _reduce_ the lifetime of their given Vault token if they want.

[2018-07-12 14:04] #3 closed

[2018-07-12 14:04] jefferai commented on #4
Yes, using the `groups_claim` parameter.

[2018-07-12 14:04] #4 closed

[2018-07-12 14:08] jefferai commented on #2
That's not how Vault works. We don't ever return the same token for a new authentication attempt.

So long as the JWT is valid, you can use it to get a Vault token, just like so long as your LDAP credentials are valid you can use those, or as long as a GitHub access token you've issued is valid, you can use it to get a new token.

We could potentially add an option to constrain the lifetime of the

[2018-07-12 14:08] #2 closed

[2018-07-12 18:04] v6 commented on #5
That makes sense

And anyway I have some reading to do to figure out how OIDC works in the mean time

[2018-08-08 20:12] michyliao opened #7 "Returning 400 when configuring oidc_discovery_url"
Trying to enable jwt login with vault, but during the config set up, I am getting this error and can't find much help/resources online.

I have set
`vault write auth/jwt/config oidc_discovery_url="<url from gcp app engine>" ` where we have set up a google oauth login
but getting this error
`error checking discovery URL: error creating provider with given values: 404 Not Found`

[2018-08-08 20:16] michyliao commented on #7
Realized we were using the wrong URL.

[2018-08-08 20:16] #7 closed

[2018-08-08 21:16] michyliao opened #8 "sub claim does not match bound subject during login"
I am trying to login into vault with jwt token that was generated after I had logged in with google login. I am not 100% sure what my `bound_audiences` and `user_claim` values should be. Currently my config for `auth/jwt/role/demo` set  as
`
bound_subject ="<gcp app engine client id>"
bound_audience="https://accounts.google.com"
user_claim=""
`
When i login as:
`vault write auth/jwt/login role=dem

[2018-08-24 07:03] avoidik opened #9 "realm_access claim could not be converted to string list"
hi,

could you please help me to set `groups_claim` parameter for role?

I've got error when I tried to set it to `groups_claim=realm_access`

[code]

my token has the following:

[code]

[2018-08-24 07:37] avoidik commented on #9
is there are any method to split `groups_claim` parameter to deliver only resulting list of strings, for example `groups_claim=realm_access/roles`?

[code]

[2018-08-24 14:26] jefferai commented on #9
No, there is not. I don't really know what the way forward here would be. I'm not aware of any character that can't be used in a claim name, which means there isn't any obvious delimiter.

I would suggest that you see if the JWT provider can put `roles` at the top level. The only documentation I can find that mentions `realm_access` suggests that the only thing that ever lives inside it is `roles`

[2018-08-30 14:05] jdelic commented on #9
That there is no obvious delimiter doesn't mean that Vault couldn't for example define `.`  to be the delimiter and then also define escaping rules. For example `groups_claim=realm_access.roles` vs. `groups_claim=realm_access\.roles`. It sounds quite useful to me to be able to address nested objects in the claims.

[2018-09-07 11:35] fsniper opened #10 "Changed token validation keys prevent furture authentication"
We are using DEX as an oidc provider. It's configured to change signature keys in a timely manner. Whenever the key change occurs, auth-jwt stops working with the error:

[code]

If I reconfigure the jwt backend with

[code]

It starts to work again.

[2018-09-07 16:16] tstoermer opened #11 "Fetching Keys fails during signature validation with context canceled"
We are using the auth/jwt to authenticate with Vault. It is configured using a discovery url. When calling the endpoint e.g.:
`vault write auth/jwt/login role=default jwt=@myToken.txt`
It somehow stops working with the failure:
[code]
After configuring the discovery URL again, the issue is solved. The issue reoccurs after some time (several hours).

There was no change at the authorization server

[2018-09-07 18:05] avoidik commented on #11
as a workaround you may set `oidc_discovery_ca_pem` explicitly

[2018-09-07 18:05] avoidik commented on #10
as a workaround you may set `oidc_discovery_ca_pem` explicitly

[2018-09-10 09:58] fsniper opened #12 "authentication fails with "subclaim does not match bound subject""
I have configured a role with our token's bound_audience and bound_subject. My user can login with my jwt-token and get a vault token with the role. But another user is having issues with that.

The faulty login process is as follows:
[code]

My configuration is like below:

[code]

token is like this:
[code]

Decoded token is:
[code]

[2018-09-10 10:00] fsniper commented on #12
Bound subject is not the same. sorry.

[2018-09-10 10:00] #12 closed

[2018-09-11 15:18] fsniper commented on #10
I tried oidc_discovery_ca_pem, but it's did not work. The problem is the same.

[2018-09-11 15:35] avoidik commented on #10
have you tried to set entire certificates chain of https api-endpoint?

[2018-09-12 10:12] MartinLeedotOrg commented on #11
My related issue was resolved somehow in Vault 0.11.1 - I haven't checked to see exactly how/why. Might be worth trying.

[2018-09-12 10:31] tstoermer commented on #11
Thanks for your hint - I will plan to update the vault server.

The strange thing: over the last days the error did not reoccur... So I am currently not able to reproduce it and don't know what triggered the error.
I will continue testing this week and close the issue if it no longer exists.
Thanks all for you help (@avoidik, @MartinLeedotOrg)

[2018-09-14 09:18] fsniper commented on #10
@avoidik I tried using the full bundle. Story is the same,

[2018-09-14 12:02] fsniper commented on #10
Also, our oidc_discovery_url has a valid letsencrypt certificate. We are not having an issue on the endpoint https certificate validation.

[2018-09-14 12:11] fsniper commented on #10
I have followed this to https://github.com/coreos/go-oidc key handling and then to https://github.com/pquerna/cachecontrol.

As far as I understand, goidc caches signature keys until the http expiration date. This is handled by cachecontrol.

Our dex server is giving out these http expiry headers:
[code]
So If I am parsing this correctly, the keys should be valid till *14 Sep 2018 12:04:18 GMT + 1

[2018-09-21 16:07] tstoermer commented on #11
Closed - not able to reproduce / did not reoccur until now.

[2018-09-21 16:07] #11 closed

[2018-10-01 07:06] Trois-Six commented on #9
A workaround for this : inside Keycloak, select the client, then go to Mappers, then create a Protocol Mapper named roles. Your group claims will be available in the "roles" key and in the "realms_access.roles" key inside your access_token. So you can use group_claim="roles" in your jwt role inside Vault instead of group_claim="realms_access.roles" which is not working because of the nested dict.

[2018-10-09 16:36] jesseeichar commented on #11
I just had this issue as well.  As mentioned updating the configuration fixed it.  I am going to monitor and see if we continue to see this issue.  Maybe it only happens after unsealing or... If we get more information we will let you know.

[2018-10-10 08:13] tstoermer commented on #11
Thanks for your information. We are also now on 0.11.1  . Until now, the issue did not reoccur.

Recently, there was a fix provided for context handling #13
But I am not sure, if this could also solve this issue.

[2018-10-15 18:19] jefferai commented on #8
Probably you should take a look at the `sub` value and ensure that it matches what you've set.

[2018-10-15 19:12] jefferai commented on #9
Just putting some thoughts down:

One of the potential issues with delimiters at a role level is whether they might only be valid for some claims and for other claims actually cause problems. One way to handle this might be to allow delimiters to be specified as part of a given claim value, so for groups claim it could be `groups_claim=.;realm_access.roles`

This can still be an issue if a delimit

[2018-10-29 20:29] jefferai commented on #8
Closing as there's no response.

[2018-10-29 20:29] #8 closed

[2018-10-29 20:30] jefferai commented on #10
Looking forward to seeing what you find.

[2018-10-30 14:57] jefferai commented on #9
@avoidik If you can take a look (or even better, test!) #15, basically it allows you to specify a string of delimiters. So in your case, you'd specify `groups_claim` to be `realm_access.roles` and set the `groups_claim_delimiter_pattern` to be `.`. But it would support things like `_.` which would then expect something like:
[code]

[2018-10-30 14:59] jefferai commented on #9
@jdelic @Trois-Six same query/request for testing :-)

[2018-10-31 19:59] #9 closed

[2018-11-08 11:30] avoidik commented on #9
@jefferai I've tested and it worked. I was able to authenticate with JWT token and then using the Identity Group Alias assign the policy to a requester. When it's planned to be released? Could please put a version tag :)

[2018-11-08 11:55] jefferai commented on #9
It'll be released with the next beta of vault.

[2018-11-13 16:14] michyliao commented on #8
I was able to figure this out.

The JWT token was generated via oauth gsuite.

[2019-01-16 22:16] ezreal92170 opened #17 "JWT external group is not created after a successfull login"
Hello,

I am using the docker image of vault: library/vault:1.0.2

My JWT contains at the root level :
` "gitlab_group": [
    "148:Divison Sécurité et Maîtrise des risques",
    "81:escapegame",
    "6:innovation",
    "343:hackathon-LOS",
    "5:annuaire"
  ],
  "preferred_username": "tm8enk"`

An entity for me is created but i don't see any external groups
I created a role user with the followi

[2019-01-17 10:18] sergeytrasko commented on #17
Seems we have the same problem.
I expect that when a login operation happens and there is a 'groups' claim then missing Vault groups and group aliases will be created automatically.
Is it correct assumption?

[2019-01-29 10:41] ezreal92170 commented on #17
I did the same guess...

[2019-01-29 19:53] tstoermer commented on #17
Hi,

the mapping needs some configuration. You need to create an external Group with an alias matching the group name in the token that you want to be mapped. All users will then be assigned in Vault automatically, if they perform a login.
see [External vs Internal Groups](https://www.vaultproject.io/docs/secrets/identity/index.html#external-vs-internal-groups)
and the [Tutorial](https://learn.has

[2019-01-30 07:15] sergeytrasko commented on #17
Here the question is slightly different - is there a way to create external identity groups **automatically** within the Vault?
It is clear that one can create identity groups beforehand and it will work.
But imagine we have from hundreds to thousands of groups with unpredictable lifecycle. Manual management of them would be a maintenance hell.
For us it would be good if Vault could create such gr

[2019-01-30 16:46] jefferai commented on #17
@sergeytrasko The problem is the flip side: you want a defined subset of groups in Vault, but you authenticate and are a member of thousands of groups (this is a real thing, I promise you). Now you have thousands of groups that have to be managed within Vault, when you wanted three.

We may make this behavior toggleable at some point though.

[2019-01-30 18:51] sergeytrasko commented on #17
@jefferai yes, I understand the behaviour you described. And I'm sure that 99% of Vault consumers would like to control which identity groups are available in Vault.

We have slightly different case - we want all groups to appear in Vault. These groups will have a certain naming pattern and we can use Sentinel policies to make decisions based on secret paths and group names. So for us it does not

[2019-01-30 19:50] jefferai commented on #17
Unsure, that's part of what we'd have to figure out. There's a third option, which is per-mount. Which may be the right granularity. Maybe? Possibly. Perhaps.

[2019-01-31 13:22] ezreal92170 commented on #17
I have the same usecase as @sergeytrasko .
I would love if I can automacally bind some external group in the JWT claims and use the id or name of the group in policies in a secret engine.. I do it at the user level but i can't at a group level.

[2019-02-14 18:54] #6 closed

[2019-02-21 04:37] hmalphettes opened #25 "Auto-detect the `role_type` to be "jwt" or make the parameter `role_type` mandatory"
Since the merge of #24 , it is required to pass the new parameter `"role_type": "jwt"` when not using OIDC.
Without specifying `"role_type": "jwt"` configuring a role will return the error: `'allowed_redirect_uris' must be set`.

Would it make sense to detect whether the mount point is configured for OIDC or not and skip the `role_type` entirely?
Otherwise, should we consider making the `role_type

[2019-02-21 05:14] kalafut commented on #25
A single mount can support both types of roles (provided the respective parameters are set). We did discuss the `role_type` default and the expectation is that most users will prefer OIDC and that would be a more appropriate default (and that it makes sense to even have a default). There will be some adjustments for existing JWT users but they're fairly minor. Note that existing roles will be corr

[2019-02-21 05:26] hmalphettes commented on #25
Ok. Thanks for the explaination.
I understand that if I set an OIDC URL I could configure both types of roles on the same mount.
However, when I leave it empty, the default behavior is a surprise.

Not a big deal at all.

I am proactively adding the `role_type` to my automation to guarantee a smooth upgrade.

[2019-02-21 05:39] kalafut commented on #25
To configure OIDC roles you also need to have an `oidc_client` and `oidc_secret` set in the config. You're _just_ ahead of quite a few docs changes that will accompany this change. Feel free to peruse the new text in this PR:  https://github.com/hashicorp/vault/pull/6270

[2019-02-21 06:56] hmalphettes commented on #25
OK, thanks again @kalafut .

[2019-02-21 06:56] #25 closed

[2019-02-27 05:11] hiyosi opened #27 "Dynamically update verification key with plain JWT"
The specification differs between JWT and OIDC IDToken. For example, the `iss` claim is **not** mandatory in JWT, but it is mandatory in IDToken.
Currently, we need to use `oidc_discovery_url` to dynamically rotate the public key for signature verification. In that case, the JWT must satisfy the specification of ID Token.

Could you support the only jwks endpoint so that we can dynamically update

[2019-02-27 05:26] kalafut commented on #27
Hi. Are you using the 1.1 beta or an official release? In both cases, you can set `oidc_discovery_url` and it will be used to fetch public keys for JWT verification. If you're using the 1.1 beta, you'll need to create roles with a `role_type` of "jwt" in order to not use the OIDC flows. Am I understanding your question correctly?

[2019-02-27 05:54] hiyosi commented on #27
Thanks for reply.
I use Vault '1.0.1'.

If you set `oid_discovery_url` and authenticate using JWT without 'iss' claim.
In that case, Don't you get an error with the following logic?

[code]

[2019-02-27 06:24] kalafut commented on #27
OK, I see what you're referring to now. I'll discuss this internally and get back to you.

[2019-03-08 22:35] kalafut commented on #27
@hiyosi Supporting verification using a JWKS endpoint would be useful. We're looking into the best way to fit that into the plugin.

[2019-03-12 05:42] hiyosi commented on #27
@kalafut Awesome! Thanks for considerations. I hope it will be implemented.

[2019-03-13 01:01] hmalphettes opened #30 "Using more than 1 bound_audiences does not validate a claim that has only 1 audience"
I am trying to configure a single JWTRole that accepts claims where the value of `aud` can be any value that belongs to a fixed list.

When I configure a jwt role with 2 bound_audiences, if the claim contains a single one of the 2 values, Vault will reject it.

I was hoping to use the `bound_audiences` claim for that based on the documentation:
[code]

In my setup, the identity of the principal is

[2019-03-13 03:15] kalafut commented on #30
This is an interesting issue, and an area where the two types of validation (OIDC vs. provided keys) are inconsistent, because of the use of the specific library function in the latter. Based on rereading the RFC and some other discussion of it, I think our documented approach (i.e. any match is sufficient) is reasonable. In fact Auth0, who is using the Square library (https://github.com/square/go

[2019-03-13 06:34] hmalphettes commented on #30
@kalafut many thanks again. Apologies for the lengthy tale and thanks for going along with it.

I do think your documented approach is reasonable.
The validation enforced by the SermoDigital (exact matches and more) is already well covered by other claims like `sub`.
In the OIDC world where `aud` is the `client_id`, it obviously does not make sense either to impose to each client to know in advanc

[2019-03-14 10:28] Leletir commented on #9
Hello, first of all, thanks for your work !!

I'm trying to use keycloak for authentification against the vault. Reading the issue, I'm getting lost, which Auth backend do I have to use oidc or jwt ?

Thank you for your help.

[2019-03-14 21:15] #30 closed

[2019-03-19 15:44] Leletir opened #32 "could not parse 'oidc_discovery_ca_pem' value successfully"
Hello,

I'm using vault 1.1.0-beta2 and I can't configure OIDC auth method, I have to say that I'm using my company certificate.

The command line I'm trying is:
[code]

As a result I have:
[code]

I also try via the gui, but I only I have option to fill the oidc_discovery_url and the certificate.
It seems to work (I got the pop up saying it's the auth method is activated) but when I try to use th

[2019-03-26 16:13] kalafut commented on #32
Duplicate of: https://github.com/hashicorp/vault/issues/6442

Leaving this one open as there is some different info between the tickets.

[2019-03-27 14:03] Leletir commented on #32
Okay, thank you

[2019-03-30 16:15] tidalf opened #36 "oidc redirect is not successfull on Windows"
On Linux/OSX when I use "vault login -method=oidc role=role, I'm redirected to the IDP and the login is successfull.
On Windows (10) the url is truncated (whatever the browser that is called) before the first ampersand.

Ex:
`https://the.idp.com/adfs/oauth2/authorize/?client_id=xxxx&nonce=xxx&redirect_uri=http%3A%2F%2Flocalhost%3A8250%2Foidc%2Fcallback&response_type=code&scope=openid&state=xxx`
is

[2019-04-01 12:21] ncabatoff commented on #36
Googling this issue it looks like we need to [cmd "/c", "start", "", "the-url"] to avoid having to escape the ampersands.

[2019-04-01 16:36] kalafut commented on #36
@ncabatoff I managed to try this on a Windows machine and the simpler approach you reference doesn't seem to work. The "&" -> "^&" replacement works fine, so I'll PR that.

[2019-04-01 22:13] #32 closed

[2019-04-05 14:59] pbohman opened #39 "Server cert verification failure during code exchange"
The call to `oauth2Config.Exchange(ctx, code)` in path_oidc.go fails due to server certificate validation even though `oidc_discovery_ca_pem` was set with the CA to verify the server certificate. The OIDC discovery call works. But, it looks like the exchange call is made using a default httpclient instead of an httpclient configured with the `oidc_discovery_ca_pem` certificate.

[2019-04-05 17:12] kalafut commented on #39
Good catch!  Confirmed the error by upgrading the internal mock server to TLS. Should be a fairly straightforward fix.

[2019-04-05 22:34] #39 closed

[2019-04-29 11:20] sergeytrasko opened #44 "oidc_scopes are ignored during configuration"
Seems that configuration of `oidc_scopes` attribute is ignored during configuration.

Test case:

Setup:
[code]

Verify:

[code]

**Observed:** no `oidc_scopes` attribute is found in response

**Expected:** `oidc_scopes` attribute is returned

Vault version:

[code]

[2019-04-29 12:55] kalafut commented on #44
Hi. The value is stored and used, but wasn't being reported on read.  This was fixed in 1.1.1.

[2019-04-29 14:32] sergeytrasko commented on #44
Indeed, tested with 1.1.1 - works fine.
Thanks!

Closing this issue.

[2019-04-29 14:32] #44 closed

[2019-05-08 14:13] chrissphinx opened #46 "Authentication Fails If A Bounded Claim From Server Is A List"
https://github.com/hashicorp/vault/issues/6685#issuecomment-490500332

It seems like [this loop](https://github.com/hashicorp/vault-plugin-auth-jwt/blob/master/claims.go#L111) will not function as intended if `actValue` is a list of attributes, but I can't really read Go very well.

What _should_ happen, is that, if the `actValue` is a list, each `expValue` is checked against each `actValue`. Not

[2019-05-08 15:58] kalafut commented on #46
You're correct. This initial release was a 1:1 check, and more recently 1:n was added (i.e. success if `actual` matches any of `expected`). I think n:n is useful but your question in the same one I have about what the semantics should be, and I'd prefer to avoid more configuration as this is already a confusing item.

I think the groups example you mentioned on https://github.com/hashicorp/vault/i

[2019-05-08 16:47] chrissphinx commented on #46
So, as of 1.1.1 this check is still of the 1:1 variety? Should I pull master and build this module to see if it works?

I myself don't have a use for the n:n variety, but I'm not sure if Gitlab group will add functionality to customize the claims provided at any point.

[2019-05-09 12:42] splattner opened #47 "error converting claim to string"
Altought this looks somehow similar to #9 I think its not the same.

I have setup Vault to use a KeyCloack OIDC.
My returned userinfo Data looks like this:

[code]

My Role looks like this

[code]

when I try to login I get: `error converting claim 'groups' to string`

The Login with OIDC works when I remove the `groups` claims from the userdata response

What am I doing wrong? Has anybody a Worki

[2019-05-09 13:23] splattner commented on #47
I'm gonna close this again, the Problem was, I had a `claim_mappings` set with `{"groups":"groups"}` and this doesn't work. I guess only strings can be mapped to metadata

[2019-05-09 13:23] #47 closed

[2019-05-09 19:46] shwuandwing opened #48 "JWT bound constraint check in auth/<role>/config does not consider bound_claims"
Hi,

For configuring JWT roles (in path_role.go line 401), there is a check that is at least one bound constraint.  However, that check does not consider if bound_claims is non-empty.

i.e.   trying to create a role fails if audience / subject / cidr is empty, but bound_claims is non-empty.

https://github.com/hashicorp/vault-plugin-auth-jwt/blob/eb2915c8f5ae058c6fa5154a41629460f00b9418/path_role.

[2019-05-09 20:19] kalafut commented on #48
Hi. I think that is a reasonable improvement.

[2019-05-09 20:30] #27 closed

[2019-05-09 23:32] kalafut commented on #46
The 1.1.1 is "1:n", meaning I can do:

[code]
and if `color` is either green or blue it will match. But a list of colors being received won't work at all. Your groups situation would need the feature enhanced to match against lists. I will discuss this internally.

[2019-05-10 00:02] chrissphinx commented on #46
Thanks for spending time on it. We are working around it by bounding `sub`s to list of person I need to have access, but being able to add/remove people from the group on GitLab side of things to grant/revoke access would be very useful to me.

Maybe based on the type returned by `getClaim()` it could switch from "1:n" to "n:1"? I could see this being a "gotcha" for future developers, though...

G

[2019-05-10 17:57] MartinLeedotOrg commented on #46
I bumped up against this today, created #50 to resolve.

[2019-05-13 22:00] kalafut commented on #46
We think this change should be made. I'll review the PR soon.

[2019-05-13 22:18] shwuandwing commented on #48
#49

[2019-05-14 23:01] shwuandwing commented on #48
Fix merged.

[2019-05-14 23:01] #48 closed

[2019-05-17 15:35] kalafut commented on #46
Closed in #50

[2019-05-17 15:35] #46 closed

[2019-05-29 18:03] Typositoire commented on #47
Sorry to hijack this, but I have the same issue and I don't get what you mean by `I had a claim_mappings set with {"groups":"groups"} and this doesn't work.`

[2019-06-07 00:31] agill17 opened #52 "vault oidc role mapping"
Hi I am new to vault and OIDC in general so sorry for newbie questions
I am trying to setup oidc with dex.
So my config for oidc looks like this;

[code]

and then I create a role `foo` with these parameters ;
[code]

Then I drop that role in `auth/oidc/role/foo`

So here is what I am not understanding and this is most likely due to the fact that I am not aware of how to wire things up yet,

When

[2019-06-07 00:47] kalafut commented on #52
Hi. Some comments:

There is no relationship between the role name and anything, really. It is just a name for the container of various bindings, policies, etc., and must be provided by whoever is logging in. All control of determining whether the person can login, and what permissions they have, is based on the contents of the role definition. i.e. you could rename your role to "bar" and it would

[2019-06-07 18:19] agill17 commented on #52
@kalafut Thanks for the explanation. However when using bound_claims parameters in my foo group, and I try logging in through the UI I get this;
[code]

my groups from dex does return a list, and this seems to be related to this PR; https://github.com/hashicorp/vault-plugin-auth-jwt/pull/50 which also looks like it has not been released yet to the main upstream vault repo ?

[2019-06-07 18:25] kalafut commented on #52
Yes, if you're receiving a list of values you'll need that update which isn't bundled into Vault yet. You can build and register the latest version of plugin yourself if you want access to the feature now.

[2019-06-13 11:00] samvrocks commented on #52
Will it be included in 1.1.4 release?

[2019-07-08 04:18] nebffa opened #60 "Vault Namespaces are not supported by Azure AD in the plugin's current state"
When integrating with Azure AD, Vault Namespaces cannot be used because Azure AD redirect URIs do not support query strings: https://blogs.msdn.microsoft.com/aaddevsup/2018/04/18/query-string-is-not-allowed-in-redirect_uri-for-azure-ad/

Microsoft recommends using the `state` parameter of an OIDC authentication request.

Would it be possible to include the Vault Namespace information in the `state

[2019-07-09 00:26] nebffa commented on #60
Hey @kalafut , I have some spare time at work and could look at doing this work if you like 😄

[2019-07-09 15:37] kalafut commented on #60
Hi @nebffa. We're aware of the Azure restriction and are reviewing the options (this approach being one of them). Thanks for the offer to help out. Depending on the number changes to be coordinated between the backend and UI, this one may be a little simpler to manage internally, but again it's all still TBD. And in any case, we appreciate reviewers and testers.

[2019-07-09 23:59] nebffa commented on #60
@kalafut cool :)

[2019-07-11 15:51] kalafut commented on #52
@samvrocks Sorry for the delay... missed your comment. This change will be in 1.2 (and is in the betas now), but not the 1.1.x releases. For those older versions you'd have to mount it as an external plugin.

[2019-07-11 15:51] #52 closed

[2019-07-26 07:09] ljupchokotev opened #62 "ADFS 4.0 groups claim could not be converted to list"
We have OIDC configured to work with ADFS 4.0 and we are hitting an issue when we want to use `groups_claim`. What happens is that ADFS issues the groups claim as `string` if there is only one group that the user belongs to. If there are multiple groups, then it sends the groups claim as an `array` which Vault accepts.

We are hitting the following error: https://github.com/hashicorp/vault-plugin-

[2019-07-26 17:55] kalafut commented on #62
Certainly not the first instance of this, and I'm a little surprised how often this claim is coming back from IdPs as a different type depending on the length. Adding some flexibility to the parsing is something we'll being investigating soon, and have already added when parsing `bound_claims` for similar reasons.

In the mean time, can you possibly add membership to a dummy group on the ADFS side

[2019-07-26 18:09] ljupchokotev commented on #62
We already did something similar as a workaround. Instead of creating a dummy group we just have a custom claim rule which issues a dummy value on the same claim which forces it to have at least two values and then ADFS formats that as an array.

It would be nice to handle this type of thing on Vault's side though.

[2019-08-01 21:20] #62 closed

[2019-08-09 01:04] binlab opened #65 "OIDC Auth Backend unexpected behavior and errors"
**Describe the bug**

During using **OIDC Auth Backend** unexpected behavior was observed with different **OAuth** providers. Despite the fact that the `oidc_discovery_url` parameter is indifferent to the slash at the end of the URL but this is not taken into account when checking compliance issuer URLs.

**How To Reproduce and Errors**

**Google:**

[code]

_response from provider:_

`curl https:

[2019-08-09 15:44] kalafut commented on #65
Hi. We'll pick up the library change if the go-oidc PR is accepted, but I suspect you might get some pushback there. The OIDC spec is pretty unequivocal about the issuer "MUST be identical" (https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationValidation), and in practice you can just configure the issuer to match what the provider is sending.

[2019-08-09 15:54] binlab commented on #65
Hello! Yes, this SPEC to prevent MITM attacks but slash at the end of URL not indicate into to an issuer, even more, this methodology to truncate slash used at the beginning of validation code.

[code]

[2019-08-15 12:10] jan-schumacher opened #66 "OIDC: token_ttl has no effect"
I set every possible token_ttl value to 24h in my configuration but without any effect at all.
[code]
The servers default token 32 days ttl kept using all the time at login.

When I set the undocumented 'ttl' value it works just fine.

[2019-08-15 14:18] kalafut commented on #66
@jan-schumacher  Thanks for reporting this!  I've reproduced it and see that the code path for manual JWT logins was updated with the token fields, but the OIDC route was not.

[2019-08-15 16:46] #66 closed

[2019-08-15 20:12] kalafut commented on #66
@jan-schumacher The fix is in the plugin which you can build yourself if you want, otherwise it will appear in the next minor version of Vault (though not 1.2.2 whose content was already locked). I've also temporary reverted the docs for this plugin.  Thanks again!

[2019-08-15 21:33] christopherbloghett-disney opened #68 "Vault OIDC/JWT bound_claims does not recognize a map"
When writing back a role and submitting a json bound claim, it can not writer saying a few different errors. Like recieved a string when expecting a map, or needs to be key value pair. Currently using Docker vault 1.2.1.

Different Bound_claims I have tried. Based on the very few examples I can find online.

vault write auth/oidc/role/testadmins \

Failed to parse K=V data: invalid key/value pair

[2019-08-16 06:42] jan-schumacher commented on #66
@kalafut Thats great! Thanks for fixing it! I will wait for the upcoming release :)

[2019-08-16 07:27] jan-schumacher opened #69 "OIDC: Setting value token_policy does not set policy in token"
Actual behaviour: `vault write auth/oidc/role/dev bound_audiences="supersecret" allowed_redirect_uris="http://localhost:8250/oidc/callback" user_claim="sub" token_policies="provisioneer" ttl="24h"` sets `token_policies             [provisioneer]` in role but not `policies` which leads to missing token_policies in the granted token.

But executing `vault write auth/oidc/role/dev bound_audiences="su

[2019-08-16 15:17] kalafut commented on #69
This is another effect of the previous issue. There were a set of new [`token_` fields](https://github.com/hashicorp/vault/blob/1a68a3a59a8db65f4d2e57685844798847977ed0/sdk/helper/tokenutil/tokenutil.go#L231) added recently that didn't make it into the OIDC path. The fix in #67 will handle this case too.

[2019-08-16 15:17] #69 closed

[2019-08-16 16:46] kalafut commented on #68
Hi @christopherbloghett-disney. What you're seeing is a CLI trait and isn't specific to the JWT plugin. The CLI parameter parsing works well for simple K/V settings and lists, but becomes cumbersome when trying to send in complex data structures like maps. Furthermore, the shell itself can start fighting inline JSON. I think you'll find it much simpler to send the whole configration in as a single

[2019-08-16 16:50] shotah commented on #68
Fine to do this, but that isn't anywhere in the documentation and is definitely a work around.

[2019-08-16 17:24] christopherbloghett-disney commented on #68
@kalafut I originally submitted this to Vault because of the CLI. It won't even do K=V pairs via the CLI.

I have tested the json submission and its working to populate the values. This should close out my immediate need, but this is still a rather large parsing bug out of the CLI.

[2019-08-16 17:41] kalafut commented on #68
@christopherbloghett-disney Yeah I realized after the triage this was beyond JWT.

Do you mean specifically for `bound_claims`, or in other ways too? It will work for `claim_mappings` because the internal type there is a "K/V Pairs" (i.e. string:string) which should be working fine. `bound_claims` is a Map type, so the value can be an arbitrary structure and that's what difficult to put on the CLI

[2019-08-16 18:27] shotah commented on #68
Bound claims specifically are the issue. That is why I made the secondary account post about the claim-mappings as they worked as documented.

[2019-08-19 17:42] jefferai commented on #68
@christopherbloghett-disney There are two issues here.

One is that you're specifying a KV value that isn't a single value but that the shell is instead interpreting as multiple values due to whitespace. This isn't a Vault CLI issue so much as behavior of your shell. You can fix this with single quoting:

becomes

At this point you'll get the expected error:

@kalafut We may want to think about en

[2019-08-19 17:44] christopherbloghett-disney commented on #68
@jefferai yeah, sorry I copied later renditions of my tests, but yes long story short you are unable to pass it in as a variable.

[2019-08-21 05:07] kalafut commented on #65
Since the https://github.com/coreos/go-oidc/pull/209 PR was closed unmerged, I do not believe there is an further action for Vault on this issue. I'm assuming that you're able to get things working  by including or omitting the trailing slash, depending on the provider. If that's not the case please let us know.

[2019-08-21 05:07] #65 closed

[2019-08-22 20:29] zx8 commented on #69
@kalafut Mind taking a look at https://github.com/terraform-providers/terraform-provider-vault/issues/502 and advising as to whether that issue is related to this in any way?

[2019-08-22 21:10] kalafut commented on #69
@zx8 I'll be taking a look at that issue and have skimmed it briefly. It may be related in that a whole bunch of backends were changed for the token fields update so there may be a bug in Vault or the TF provider. But there isn't really much shared code between the auth backends, and this OIDC/token bug was very much localized to the JWT backend.

[2019-08-23 02:35] lawliet89 commented on #69
@kalafut I did a [test](https://github.com/terraform-providers/terraform-provider-vault/issues/502#issuecomment-524148868) and it seems like there might be a bug with Vault itself.

[2019-08-23 02:52] kalafut commented on #69
@lawliet89 Thanks for the repro.

[2019-08-30 14:54] wouterhund opened #72 "API login broken"
@bks7 @kalafut PR #38 broke API login for us.

This change has broken our vault login using the API. What is the new API to login using an oidc accessToken?

Our process looks like this:

1. App acquires accessToken from oidc identity provider (keycloak)
2. App logs into vault using this accessToken:

        fetch('https://vault.example.com/v1/auth/oidc/login', {
          method: 'POST',

[2019-08-30 14:56] wouterhund commented on #72
According to the docs this should still work: https://www.vaultproject.io/docs/auth/jwt.html#via-the-api

[2019-08-30 15:24] bks7 commented on #72
@wouterhund what type of role do you use? PR https://github.com/hashicorp/vault-plugin-auth-jwt/pull/38 disallows login only if the `role_type` is `oidc`. It still should work if the `role_type` is `jwt`.

[2019-08-30 15:27] kalafut commented on #72
@wouterhund Note that the default `role_type` is `oidc`, so if your setup wasn't specifying anything previously (e.g. maybe it was created before there even was `role_type`), then you should add `role_type=jwt` as a role parameter.

[2019-08-30 15:32] wouterhund commented on #72
We're using `vault write auth/oidc/role/developer bound_audiences=kube-vault user_claim="preferred_username" groups_claim="vault-roles" allowed_redirect_uris='http://localhost:8250/oidc/callback,https://vault.example.com/ui/vault/auth/oidc/oidc/callback'` to create the authentication endpoint, which is also used for login through the web interface and the vault CLI with `-method=oidc`. So I assume

[2019-08-30 16:04] wouterhund commented on #72
I tried creating another role with `vault write auth/oidc/role/app bound_audiences=kube-vault user_claim="preferred_username" groups_claim="vault-roles" allowed_redirect_uris='http://localhost:8250/oidc/callback,https://vault.example.com/ui/vault/auth/oidc/oidc/callback' role_type=jwt` and changed the login code to:

        fetch('https://vault.example.com/v1/auth/oidc/login', {
          method:

[2019-08-30 16:50] bks7 commented on #72
@wouterhund It looks like your config doesn't have one of these parameters: https://www.vaultproject.io/api/auth/jwt/index.html#oidc_discovery_url or https://www.vaultproject.io/api/auth/jwt/index.html#jwks_url or https://www.vaultproject.io/api/auth/jwt/index.html#jwt_validation_pubkeys.
Here's how it works -https://github.com/hashicorp/vault-plugin-auth-jwt/blob/master/path_login.go#L98

[2019-08-30 16:59] wouterhund commented on #72
@bks7 This is the config:

[code]

So `oidc_discovery_url` is set, and things work fine in the web interface with the `role_type=oidc` role. Things also used to work fine in the past, before this change.

[2019-08-30 18:17] bks7 commented on #72
Hmm... I guess since you have` oidc_client_id` and `oidc_client_secret` set in your config than after calling that https://github.com/hashicorp/vault-plugin-auth-jwt/blob/master/path_config.go#L316 it returns as a result - https://github.com/hashicorp/vault-plugin-auth-jwt/blob/master/path_config.go#L316. And this config type isn't handled by the switch https://github.com/hashicorp/vault-plugin-au

[2019-08-30 19:19] wouterhund commented on #72
What is the recommended way to get this functionality back? This is a real
show stopper for us.

On Fri, Aug 30, 2019, 20:17 Konstantin S. Belyaev <notifications@github.com>
wrote:

[2019-08-30 20:53] kalafut commented on #72
@wouterhund If you want to both the OIDC flow (for UI/CLI), and to directly provide a JWT to the /login path, you'll want two mounts. The mount config really sets up the flow that the roles will use, and they're exclusive for a given mount. The JWT mount you added should work fine for "/login" once you clear `oidc_client_id` and `oidc_client_secret`. But you'll need to use an OIDC-configured mount

[2019-09-02 09:52] wouterhund commented on #72
@kalafut Thanks, will try this soon. Could you please expand on what exactly the vulnerability is that was fixed by #38?

I was under the impression that if you could acquire someone's access_token it was expected that you'd have access to all systems that user has access to, but if I understand the fix correctly, it's designed to alleviate this?

[2019-09-03 19:18] kalafut commented on #72
@wouterhund Prior to the fix, if you somehow got ahold of valid JWT, you could send it through the `/login` path even for an OIDC configured role. Now that is prohibited. The only thing you (e.g. your browser) can send Vault is an authorization code received as part of the OIDC login process. Vault can check that the request was recently initiated, and _it_ obtains the JWT from the provider using

[2019-09-04 09:11] primeroz commented on #72
FYI I am having the same problem,

I had both JWT and OIDC on the same mount and it used to work.

Post upgrade, in my case, OIDC still works but JWT Direct login does not anymore with

[code]

I will try and split them into 2 mounts

[2019-09-05 14:45] primeroz commented on #72
Working fine now that they are split and i removed the oidc settings from the jwt mount

[2019-09-06 11:12] wouterhund commented on #72
Login is now working after splitting the mount, but all of the group mappings are broken now, since they reference the mount_accessor. So no policies are granted, and the tokens can't do anything.

I'm now trying to add multiple group aliases, one for each mount_accessor, but for some reason the most recently added overwrites the previous ones. So this still isn't working. Should I be duplicating

[2019-09-06 11:18] primeroz commented on #72
this problem with group alias is by design i am afraid ( https://www.vaultproject.io/docs/secrets/identity/index.html#external-vs-internal-groups )

an external group can only have one alias, last alias set will overwrite the older one

you will need to create 2 groups and 2 aliases

group-jwt - alias-jwt
gorup-oidc - alias-oidc

since the alias name is what maps to your group as returned in the j

[2019-09-06 14:47] wouterhund commented on #72
Thanks for the tip. After rewriting our vault provisioning script to create groups and group aliases for each mount (we sync this information from a git repo) things are finally looking good again.

Both web-based and programmatic login through our oidc provider is now working as before.

[2019-09-16 23:31] kalafut commented on #72
👍

[2019-09-16 23:31] #72 closed

[2019-09-20 02:38] llamasoft commented on #68
I just wanted to share my findings regarding this.  What caused me to doubt if passing maps via the CLI was possible was that while the `claim_mappings='{"foo"="bar"}'` argument format _works_, the generated cURL request will have incorrect JSON.

Example:
[code]

You'll note that it has `claim_mappings` as a _string_ containing the text `{"email"="name"}`.
It just so happens that the Vault server

[2019-09-20 14:29] jefferai commented on #68
The problem is that those are also valid _non-map_ arguments to plenty of potential endpoints in Vault. As a simple example, KV, which at its root stores a JSON object. Should that CLI format map to:
[code]
or
[code]
We can't know this at the CLI level. So to be nice to CLI users when there is an endpoint that takes in maps or arrays we allow various string-based syntaxes that we then parse. For i

[2019-09-25 13:16] wrighbr opened #74 "AzureAD/OIDC to support more than AD 200 groups"
**Is your feature request related to a problem? Please describe.**
There is a limitation within AAD and OIDC when a user is in more then 200 groups within Azure AD the groups claim will not be sent instead the below is sent
[code]
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-groupclaims/ see under Groups overage claim

**Describe the solution you'd like**
To h

[2019-09-25 16:20] wrighbr commented on #74
Correct. This actually also includes nested jobs as well. So a user can be in part of 30 groups but the nested groups can add up to more than 200 groups.

[2019-09-25 17:20] stuart-c opened #75 "Azure OIDC fails if using custom signing keys"
**Describe the bug**
Login fails with a failure to verify signature error if Azure is using custom signing keys for the integration. Looking at the Azure documentation the OpenID discovery URL needs to have ?appid=xxx appended to return the correct signing key details. Without this set the custom keys aren't returned and Vault fails to validate the JWT signature (no key found).

Looking at the cod

[2019-09-25 17:25] stuart-c commented on #75
Azure documentation:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#fetch-the-openid-connect-metadata-document

[2019-10-04 15:40] rtselizondo opened #76 "Vault login for WSL"
Currently when performing a vault login from the linux subsystem within windows. The process falls back to presenting a URL instead of opening a browser.

The code line that detects the OS is [here](https://github.com/hashicorp/vault-plugin-auth-jwt/blob/fa5d6cc5215f1a29ea72bb0f18e14f52419a45bc/cli.go#L144).

There seems to be two ways to detect the WSL system:
First, look at the `/proc/version` f

[2019-10-04 15:47] kalafut commented on #76
@rtselizondo Hi. Yeah, that detection has be updated a couple times and is tough to check against a wine range of setups. If you can work out a reliable Go equivalent version of the detection and test it out we'd happily accept a PR.

[2019-10-09 13:46] ananthrav commented on #46
@kalafut I guess I'm running into this issue and I'm running Vault 1.2.3. How do I get the latest version of this plugin in Vault. Can I find instructions some where?

[2019-10-09 15:03] rtselizondo commented on #76
#77 /lgtm

[2019-10-09 15:56] kalafut commented on #46
@ananthrav This change is in Vault 1.2.0. Can you provide an example of the bound claims you've set up along with claims received from the server with `verbose_oidc_logging` turned on (sensitive data elided).

[2019-10-09 16:36] ananthrav commented on #46
@kalafut Sorry false alarm. The issue was related to the way we were passing the bound claims to the API and that was causing Vault to throw an error that bound claims weren't matching. Thanks for the quick response!

[2019-10-10 17:30] #76 closed

[2019-10-30 07:24] brondum commented on #74
Exact same problem here when using Azure AD.

[2019-10-31 09:27] gites opened #79 "Support for https and different port for callbackhost"
For certain use cases, it would be nice to have the ability to use https in redirect_uri and set a different port for callback host than the port that Vault CLI uses for listening for the callback.

[2019-10-31 17:24] Lynty opened #81 "OIDC URL encoding bug in `allowed_redirect_uris` with nested namespaces"
**Describe the bug**
When configuring the OIDC role, `allowed_redirect_uris` must have url encoding for the appended namespace(s) when using nested namespaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Create namespace1
2. Create namespace2 that is nested under namespace1
3. Enable and configure OIDC auth
4. Run
[code]

**Expected behavior**
Able to log in to nested namespace using OID

[2019-11-04 14:35] randomswdev opened #82 "Match claim values using wildcards or regular expressions"
Currnetly the auth backend requires exact matches on the claim values. But sometimes it could be useful to allow matching just on portions of the claim, like for example all the departments whose name starts with "Engineering-". I can for sure enumerate all such departments that exist today, but I will have to modify the configuration of the backend every time we define a new department.

Is there

[2019-11-05 09:50] sjoby commented on #74
Have the same problem. Need to get with the Azure AD admins to stop using nested groups... Would be great if Vault support integration for this.

More info distributed claims are supported by the openid standard not only specific to Azure AD.
https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims

Foremast has this implemented with Go:
https://github.com/intuit/foremast/

[2019-11-06 18:09] kalafut commented on #81
@Lynty Thanks for reporting this. I think for now I'd lean towards a doc update since (1) parsing those URLs at all is likely to be fraught with corner cases, (2) we'd _ideally_ like to remove the need for the `namespace` parameter as it causes problems with some providers.

[2019-11-12 13:29] adongy opened #83 "Support for group claims in GSuite"
Hi,

This plugin allows mapping group claims to multiple Vault policies. However, the GSuite OIDC flow does not provide a `groups` claim when requested.

The configuration does not list a `groups` claim, nor is it an available scope on https://developers.google.com/identity/protocols/OpenIDConnect .

By trying around, you can discover a hidden scope https://www.googleapis.com/auth/userinfo.groups

[2019-11-13 02:56] kalafut commented on #83
Hi,

Thanks for the issue write-up and useful links. Getting groups from GSuite has regularly popped up on the mailing list since OIDC support was added. There are some workarounds using other systems in the middle, but built-in GSuite support hasn't been specifically reviewed.

The big decision is where such code would live. The OIDC plugin and setup is already complex, though so far it has been

[2019-11-16 20:18] mbrancato opened #84 "Support for JWT and OIDC roles at the same mount path"
When using the JWT/OIDC auth provider, if oidc_client_id and oidc_client_secret are configured as shown in the [example](https://www.vaultproject.io/docs/auth/jwt.html#configuration), JWT validation results in an error. Could support for both JWT and OIDC at the same mount path be added?

For example, the following will work for OIDC (AzureAD) role types:
[code]

OIDC login works with this setup,

[2019-11-18 21:21] kalafut commented on #84
related: https://github.com/hashicorp/vault-plugin-auth-jwt/issues/72#issuecomment-526746497

Yep, supporting multiple role types on a single mount is of interest. But we have to keep the setup complexity in check too, since it is already non-trivial with various parameter requirements needed for different role types. I'm going to leave this open as a enhancement request.

[2019-11-20 00:05] ianferguson opened #85 "OIDC callback listener binds to all IP addresses on the system by default"
The OIDC callback listener does not currently specify an IP address or name to bind the listener to: https://github.com/hashicorp/vault-plugin-auth-jwt/blob/716d11f2bbd51c390b2e0f7e31ff128bfa68a815/cli.go#L97

The [golang net package documentation](https://golang.org/pkg/net/#Listen) specifies that not providing a host or ip address results in the following behavior:

This results in users on OS X

[2019-12-02 08:53] luedigernet opened #88 "JWT plugin broken for all releases higher then 1.1.5"
**The following set up routine worked with vault release v1.1.5 like acharm for us.
All newer releases ( v1.2.0 up to 1.3.0 ) with the same setup are broken.
When we try to login to vault with the commandbelow**

[code]

**Since release 1.2.0 up to 1.3.0 we got the following error message when we try to login with the same configuration**

[code]

[2019-12-02 11:42] luedigernet commented on #88
I think the below change causes the error because the OIDCFlow Type is never used in

![image](https://user-images.githubusercontent.com/1688743/69952491-96efd880-14f7-11ea-8257-2973c0e36f8d.png)

[2019-12-02 22:12] kalafut commented on #88
@luedigernet Are you trying to use both OIDC and JWT roles on the same backend? I noticed you're configuring client ID/secret but are sending in a JWT manually.

[2019-12-02 22:47] kalafut commented on #85
Fixed in #86

[2019-12-02 22:47] #85 closed

[2019-12-03 03:33] luedigernet commented on #88
@kalafut no I want to use only jwt roles at this path. I configured OIDC URL plus OIDC secret because the documentation says so.

[2019-12-03 05:30] luedigernet commented on #88
@kalafut I tested it this morning with the following configuration.

[code]

Now I'm wondering if that is a documentation bug or  an false behaivior of  vault because in  releases befor v1.2.0 it worked with both config parameters in place  as mentioned in the documentation

![image](https://user-images.githubusercontent.com/1688743/70022979-51ceb380-1596-11ea-8e14-ff7ac7976720.png)

At least the

[2019-12-03 05:35] kalafut commented on #88
@luedigernet Glad you got it working (I just got done testing this locally and was going to suggest exactly what you did).  The documentation is not super clear on this part and we'll get that updated. The behavior is expected, but the role_type/config interplay is pretty confusing... and the vague error message isn't too helpful.

[2019-12-03 05:44] luedigernet commented on #88
@kalafut  Thanks for your suport. With that clarification I can proceed with my project.

[2019-12-06 14:12] randomswdev commented on #82
Submitted a pull request to implement this change: https://github.com/hashicorp/vault-plugin-auth-jwt/pull/89

[2019-12-09 17:51] #88 closed

[2019-12-09 18:56] kalafut opened #90 "Support provider-specific OIDC processing"
The OIDC handling is currently the same for any OIDC-compliant identity provider. In general that works well, but in some cases the functionality could be improved if the plugin was able take provider-specific action as well. There has been some demand for this already:

* Loading more than 200 groups from Azure AD (#78)
* Retrieving GSuite groups (#87)

The challenge will be how to make such addi

[2019-12-12 17:36] elangoganesan opened #93 "Support Client Auth Certificate in OIDCTokenRequest Endpoint"
OIDC Providers support multiple options to request for Token with authorization code . Current implement only supports ClientSecret. Requesting to add support for 2 way SSL Client Support by enabling one more additional parameter . So that we have an option to use either ClientSecret or 2 way SSL Token Request Call.

[2020-01-07 17:17] randomswdev commented on #82
The pull request has been merged. So I think this one can be closed. @kalafut what do you think?

[2020-01-08 01:26] kalafut commented on #82
Ah yeah. Thanks.

Closed by #89.

[2020-01-08 01:26] #82 closed

[2020-01-14 09:00] sergkondr commented on #83
Hello @kalafut. Do you have any updates about this issue?

[2020-01-14 21:01] kalafut commented on #83
@sergkondr We're leaning towards keeping  vendor-specific code within this repo, though the details of managing the configuration UX is still TBD. This is definitely something we're interested in getting in... just need to fit in in the schedule.

[2020-01-30 22:35] shannonrdunn commented on #75
this is affecting is too.

allowing key URL to be overridden would work for us, or another work around? Any plans on implementing one of them?

Thanks!

[2020-01-30 22:57] kalafut commented on #75
Not yet planned, but I'd like a workaround for this. This seems like Azure-only behavior (or at least I've not heard of other cases) that would best as an Azure-specific config.

[2020-02-05 22:16] #79 closed

[2020-03-06 23:26] DrDaveD opened #101 "Save refresh tokens and support obtaining new jwt access tokens from them"
We would like to use vault to store the "refresh_token" that can come during an OIDC authorization flow, and be able to use that refresh token to obtain short-lived jwt access tokens without having to go through the authorization flow again.  This seems like it would fit in very well with this vault oidc/jwt plugin, but so far I see no hit on the word "refresh" anywhere in this repository.

Do you

[2020-03-10 23:16] kalafut commented on #101
Hi. Can you explain a little more the flow(s) you envision? Are you proposing to use the refresh/access tokens as a means to authenticate with Vault again, or for other means, and merely capturing & returning them as a result of OIDC auth?

[2020-03-11 13:27] DrDaveD commented on #101
Merely as a means of capturing & returning them.  I envision using regular vault access tokens and Kerberos to access vault, and then using the retrieved OIDC access tokens to access other services.

More specifically I want vault to save the OIDC refresh tokens, cache the access tokens, renew the access tokens when needed (that is, when there's less than a configurable amount of life remaining in

[2020-03-11 13:33] DrDaveD opened #103 "Support OAuth 2.0 device flow"
I suggest that this plugin optionally support the [OAuth 2.0 device flow](https://tools.ietf.org/html/draft-ietf-oauth-device-flow-15) for authentication.  This avoids needing to have a callback to a web server on the client's machine and is much easier to manage from the command line.

[2020-03-11 21:08] kalafut commented on #101
Thanks for the explanation. The basic roles of Vault's auth methods are authenticating to Vault and establishing identity, and the use case you've described does seem to go beyond that.  Data from the auth process is generally not returned, though in some cases portions of it are attached to identity metadata if appropriate. The data retained isn't secret, and is often descriptive properties such

[2020-03-11 21:34] DrDaveD commented on #101
I have actually been trying to figure out how to override the internal plugin with a new copy of the plugin (so far unsuccessfully) but that's just to speed the development process.  I would appreciate hints on how to do it because putting a new copy in the plugin_directory isn't enough.  I tried `vault plugin deregister auth jwt` to get rid of the builtin one but it doesn't go away.  I built the

[2020-03-11 23:07] DrDaveD commented on #101
Alternatively, I see that vault secrets engines, for example the aws secrets engine in the [dynamic secrets tutorial](https://learn.hashicorp.com/vault/getting-started/dynamic-secrets), are sometimes able to generate new secrets.  What if we changed this plugin to have the capability of storing the refresh token & access token in a separate oidc secrets engine, and then have the secrets engine tak

[2020-03-16 23:05] DrDaveD commented on #101
I found a core [vault issue](https://github.com/hashicorp/vault/issues/96) requesting a generic oauth2 secrets backend similar to what I'm talking about, and puppetlabs posted a pointer to their [vault-plugin-secrets-oauthapp](https://github.com/puppetlabs/vault-plugin-secrets-oauthapp) that appears to do most of what I want.  The one thing I think it lacks is the ability to authorize and the user

[2020-03-23 10:03] venky999 commented on #81
Any update on this..

[2020-03-23 14:01] DrDaveD commented on #103
This would probably be based on this [unmerged golang oauth2 pull request](https://github.com/golang/oauth2/pull/356) or this [add-on package](https://github.com/rjw57/oauth2device).

[2020-03-23 14:37] kalafut commented on #103
Hi. Thanks for the references. Support for Device Flow is definitely of interest, especially for remote login support. It hasn’t been investigated in detail and there isn’t an ETA at this time, but it’s something that will be looked into.

[2020-03-23 15:37] kuperiudazn opened #105 "Token verification failed. Invalid ID token nonce"
api authentication with oidc is failing on a wrong nonce
https://github.com/hashicorp/vault-plugin-auth-jwt/blob/ca24e89b164dc2193dcc95b077fbc98aa107ed40/path_oidc.go#L254

it seems that nonce that is generated in auth_url isn't the same and login fails

[2020-03-23 16:59] kalafut commented on #105
Hi @kuperiudazn . Is the nonce being received? You can enable `verbose_oidc_logging` on the role to inspect the raw token.

[2020-03-23 22:30] DrDaveD commented on #101
I wrote a [vault-plugin-secrets-oauthapp pull request](https://github.com/puppetlabs/vault-plugin-secrets-oauthapp/pull/6) to accept a refresh token through a vault write API.  Next I plan to write a PR for this plugin (vault-plugin-auth-jwt) to write refresh tokens to an optional configured path (where the path can be based on fields in the id token).  I am getting stuck, however, on finding exam

[2020-03-24 08:50] kuperiudazn commented on #105
Hi @kalafut

I've enabled verbose_oidc_logging and used audit-hash to inspect The value and I can confirm they are the same.
I've also looked on How it is been done via The UI and The CLI.
From chrome developer tools and The audit log it seems they don't use nonce.

[2020-03-24 15:57] kuperiudazn commented on #105
Hi @kalafut

It seems that I have to pass the nonce to The call back.
It works now.

Thanks for The help

[2020-03-24 15:57] #105 closed

[2020-04-04 13:27] fernando-villalba opened #108 "oidc_discovery_url fails when dependencies have not been resolved beforehand"
Given the following code:

[code]
I get the following error:

[code]
It doesn't seem to happen with any of the other values, just with this one. In case it helps any, this is the output from the `cognito` module:

[code]

I am not sure if I did anything wrong, but otherwise this is a very frustrating bug as it renders all the work I did modularising Cognito useless.

[2020-04-04 14:14] #108 closed

[2020-04-04 14:14] fernando-villalba commented on #108
Posted in the wrong place, sorry. I reposted this here:

https://github.com/terraform-providers/terraform-provider-vault/issues/718

[2020-04-06 16:59] dharavahini commented on #83
@kalafut Do you have any update on issue ? can you please provide detail steps to set up groups_claim to use groups that are in the google organization for access management?

[2020-04-06 17:20] kalafut commented on #83
Hi @dharavahini .  Unless something on the GSuite side has changed, the extra API step that this PR adds is still required. There is work taking place now to get this and the related Azure PR in.

[2020-04-06 21:11] dharavahini commented on #83
@kalafut Thank you .can we create the internal group and map users to the group for OIDC  auth method ?

[2020-04-22 17:18] jmls opened #109 "allow non-string values (and arrays) in claim_mappings"
I was asked to raise an issue here following a conversation in google groups.

I'm using 1.4, and have Azure OIDC authentication working. However, I cannot have any claim that is a non-string

so, for example , part of the returned jwt from azure has this

   iat": 1587560836,
  "nbf": 1587560836,
  "exp": 1587564736,
  "acct": 0,
  "auth_time": 1587541385,

  "email": "julian@nodeable.io",

and I

[2020-04-23 23:48] jheiss opened #110 "Handling of JWTs with no nbf (Not Before) claim"
The nbf or Not Before claim is optional in JWTs: https://tools.ietf.org/html/rfc7519#section-4.1.5

In this code if the JWT contains no nbf claim it is treated as if it had an nbf claim equal to the exp (expiration) claim minus the not before leeway (which defaults to a few minutes).

https://github.com/hashicorp/vault-plugin-auth-jwt/blob/master/path_login.go#L153

That by itself seems kinda dubi

[2020-05-07 00:11] kalafut commented on #101
Thanks for the request and PR. This is, however, not a use case we'll be supporting at this time. (Additional comments on #107.)

[2020-05-07 00:11] #101 closed

[2020-05-07 20:33] hoerup opened #111 "Add support for HMAC512 JWT"
<strike>To be honest I couldn't figure out if HMAC + pre-shared secret is supported but poorly documented or just not supported yet ?</strike>

Please add support HMAC + pre-shared secret tokens

[2020-05-08 22:55] DrDaveD commented on #101
@kalafut Meanwhile I decided that I need to write a smart client program anyway, so how about the much simpler pr #113 which simply returns the refresh token in metadata?

[2020-05-10 07:48] jmls commented on #109
so, looking through the code - bearing in mind I haven't written a single line of go ... - I think that this function

[code]

is where the problem happens.

if we were to change

[code]
to just

`strValue := fmt.Sprint("%v", value)
`
would that solve the "problem" ? ir make all claims a string - and let the end-user of the metadata be responsible for converting it as required. This would allow fo

[2020-05-10 10:58] sshintaku commented on #109
To cast an object to a string in GO I've always used string(value) and that works.  So you could write that simply by writing var strValue = string(value) and that should work.

[2020-05-17 12:28] avoidik opened #116 "Support public OIDC clients without the client-secret defined"
### Description

As of now vault throwing `* both 'oidc_client_id' and 'oidc_client_secret' must be set for OIDC` error message if `oidc_client_secret` was not set. Most probably, a new additional flag would be required to define public OIDC client behavior.

### Current behavior

Working

[code]

Not working

[code]

### Expected behavior

Both command should finish OIDC method configuration with

[2020-05-18 13:02] lucaspouzac opened #117 "Ability to fully customize the oidc discovery url"
Actually, it's not possible to use a custom url (as https://host/.well-known/oauth-authorization-server by example) because the path /.well-known/openid-configuration is already add.

https://github.com/hashicorp/vault-plugin-auth-jwt/blob/175b36bab10d932d581b01db8e94dd78bd23a49e/vendor/github.com/coreos/go-oidc/oidc.go#L97

Is it possible to make this configuration more flexible?

Thanks

[2020-05-20 17:35] cucxabong commented on #83
Any news on this PR

[2020-05-31 10:35] ademariag commented on #83
@kalafut could you please also share the suggested workarounds?

[2020-06-18 23:14] DrDaveD commented on #103
I am beginning to work on a pull request for this.

[2020-06-19 01:35] kalafut commented on #103
Hi @DrDaveD. Can you summarize the approach you plan to take?

[2020-06-23 04:54] techs07 commented on #90
Hi @kalafut
Do you think if these are related and can be handled here.
[#8979](https://github.com/hashicorp/vault/issues/8979)
[#8780](https://github.com/hashicorp/vault/issues/8780)

[2020-06-25 15:51] #74 closed

[2020-06-26 22:02] tonyeung opened #121 "Automatically match Group Alias with OIDC groups claim"
Background: Azure AD login with OIDC auth method.
Azure AD is passing the AD samaccountname group names via the groups claim in the ID Token.
Vault is setup to use one of the group names setup via roles/group-alias.

Current behavior: if i leave the role field blank in the OIDC browser login, it defaults to the default group specified in Vault's Role config.

Expected behavior: vault looks at the

[2020-07-21 23:08] #83 closed

[2020-07-29 21:04] axfelix opened #126 "Can't authenticate with OIDC via curl (or any external request)"
**Describe the bug**
We can't seem to make OIDC authorization work when initiated from an external CURL request when trying to follow the documentation in https://learn.hashicorp.com/vault/operations/oidc-auth.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure vault to use OIDC authorization (eg using Google OAuth) and ensure that the workflow is functional when authenticating via th

[2020-07-30 05:01] kalafut commented on #126
Yeah it's pretty standard. After you login in the browser, the redirect will go to whatever is configured on the role and that call will have the OAuth `code` in the URL as a query param. That value needs to be part of the second call to Vault (along with the `state` to complete the flow.

[2020-08-04 08:00] faruqisan opened #127 "How to set Hosted Domain in OIDC Role config?"
Hi, how to set a hosted domain in OIDC role config? I want to limit the OIDC to selected Google Suites Domains only

for example, I create this role:

[code]

where I should put my hosted domains configuration?

[2020-08-04 16:54] afrosimon opened #128 "JWT Auth config discrepancy between the documentation and code"
I'm running a local Keycloak instance which provides me a JWT and I've run into a confusing situation when configuring vault to accept these JWTs.

As per the official documentation (https://www.vaultproject.io/docs/auth/jwt#jwt-authentication) I've ran this command:

[code]

And then I created the role (no issues there AFAIK). And when I tried to login, I hit this error:

[code]

I've eventually

[2020-08-26 13:15] lenaing opened #135 "JWKS URL changes aren't reflected immediately"
Hello,

I encounter the following issue:

When the JWKS URL of an JWT Auth is updated in an high availability setup, the new JWKS URL is called by Vault at configuration time for validation but the old URL is still in use until the Vault switches of master.

Setup : Non-enterprise Vault version **1.5.2** (Also tested on 1.4.2), 3 servers, PostgreSQL HA and Storage Backend

How to reproduce:

* I s

[2020-09-18 17:16] dev-e commented on #128
https://github.com/hashicorp/vault-plugin-auth-jwt/issues/72#issuecomment-526746497

[2020-09-18 18:54] dev-e opened #136 "JWT auth succeeds with a group-alias bounded to the OIDC mount_accessor"
Vault version: `1.4.3`
IdP: `Keycloak 10.0.2`

**Minimal reproducible scenario**:
[code]
**Note, a group is external and can have only one alias:**
[code]
**Rewrite the same alias with another mount_accessor:**
[code]
**Try to log in again:**
[code]
**Now let's roll back changes for the test group-alias:**
[code]
**And log in again with OIDC method:**
[code]

[2020-10-13 09:35] adongy opened #138 "oidc: gsuite custom provider groups cannot use bound claims"
Hi,

With the gsuite provider specific code, fetching groups is done after the bounds claim check, meaning that it will most likely fail.

Notice that `validateBoundClaims` is before `createIdentity` which is where groups are actually fetched.

https://github.com/hashicorp/vault-plugin-auth-jwt/blob/5aa3d0e64032eaf92497a9084df4a1ac0e114b63/path_login.go#L216-L223

https://github.com/hashicorp/vaul

[2020-10-13 09:43] adongy commented on #138
I can also add that fetching user info has the same issue.

[2020-10-14 21:29] a-riva opened #139 "GSuite custom provider: allow using Application Default Credentials"
Hi, it would be great if the GSuite custom provider supported the usage of [Application Default Credentials](https://cloud.google.com/docs/authentication/production) instead of requiring the `gsuite_service_account` option to be specified.

This would be great when running Vault in Google Cloud, since it would allow impersonating the `gsuite_admin_impersonate` user without the need to generate (an

[2020-10-22 16:58] ngunia commented on #138
I can confirm that the exact same is true for AzureAD, I was just about to open an issue when I saw this. I am experiencing this issue in my production environment. Users who are a member of >200 groups receive this error: `error validating claims: claim "groups" is missing` which is clearly coming from the error response of `validateBoundClaims()`. The only path to looking up the groups starts in

[2020-10-27 08:32] night-gold commented on #138
From tests I've done, when you use it with gsuite, any user from your gsuite can use any role created with a bound claim, rendering the role creation useless.

[2020-11-14 16:52] andysnowden opened #147 "oidc: use claim_mappings for bound_claims"
Hello,

I need a bit of clarification if what I'm trying to do is possible or if I'm hiting a bug.  After looking at the [provider config doc](https://www.vaultproject.io/docs/auth/jwt_oidc_providers) I see where you can import custom directory fields as claim_mappings.  My intention was to use this as part of a bound_claim so I could match a user to a specific role.  We already do this with gsuit

[2020-11-17 19:47] austingebauer commented on #147
Hi, @andysnowden. It appears that you've got the correct understanding of `claim_mappings` from taking a look at your role configuration and auth response. Unfortunately, both groups and user information from custom schema fields are affected by the `bound_claims` issue described in https://github.com/hashicorp/vault-plugin-auth-jwt/issues/138. I'm currently working to get a fix up for that issue.

[2020-11-17 20:01] andysnowden commented on #147
Thanks for the confirmation @austingebauer

Looking forward to the fix :)

[2020-11-20 23:15] kalafut commented on #90
Closed by #118

[2020-11-20 23:15] #90 closed

[2020-11-21 00:11] tvoran commented on #60
Hi @nebffa, in my recent testing Azure does now support query parameters in the redirect URIs. Though in Vault 1.6 we changed the default way namespace is passed around in the OIDC flow, such that the namespace query parameter shouldn't be necessary anymore: https://www.vaultproject.io/docs/auth/jwt#redirect-uris, https://www.vaultproject.io/api-docs/auth/jwt#namespace_in_state

Closing this for n

[2020-11-21 00:11] #60 closed

[2020-12-02 02:59] #138 closed

[2020-12-03 12:32] markododa opened #152 "Google oidc can't read group info"
Following the guide for google at https://www.vaultproject.io/docs/auth/jwt_oidc_providers.html#google

I have created a service account that is allowed to read the following scopes:
`https://www.googleapis.com/auth/admin.directory.group.readonly
https://www.googleapis.com/auth/admin.directory.user.readonly`

and created a role that specifies
`groups_claim="groups"`

However trying to login gives

[2020-12-03 12:43] markododa commented on #152
Seems like i have encountered: https://issuetracker.google.com/issues/113755665. Since the user i'm impersonating is not an admin.

[2020-12-03 12:43] #152 closed

[2020-12-03 17:49] austingebauer commented on #147
Hi, @andysnowden. I've merged a PR with a fix for this issue. You should be able to verify that it works for you by building the plugin manually or waiting for the next Vault release (1.6.1).

[2020-12-03 17:49] #147 closed

[2021-01-13 17:40] ichasco-heytrade opened #153 "Unable to map vault groups with Gsuit ones"
Hi, When I log in with a user, the groups are not mapped with Gsuit ones even if the alias is done.

Vault Version:
[code]

OIDC Config
[code]

OIDC Role:
[code]

Group:
[code]

Alias:
[code]

Login Logs:

[code]

Google Group:
If I list the groups of the user:
https://developers.google.com/admin-sdk/directory/reference/rest/v1/groups/list
[code]

If I do the OIDC with Cognito, I can map the group

[2021-01-13 19:19] ichasco-heytrade commented on #153
I have fixed, the name of the group alias in Vault must be: `group@domain.com`

[2021-01-13 19:19] #153 closed

[2021-01-21 13:12] stefan-zh commented on #68
I struggled to pass a `TypeMap` CLI argument to a backend endpoint in my project and that's how I found this thread. While passing a `TypeKVPairs` argument works fine like this `vault write auth/<backend>/<path> user="name=john" user="age=23"`, I didn't have any luck getting a `TypeMap` argument to work on the command line, but instead I always got this error:
```error converting input for field "

[2021-01-28 04:33] prem0132 opened #156 "not able to match groups from gsuite using OIDC in `bound_claims`"
Issue: Not able to match groups from gsuite in `bound_claims`

Steps to Reproduce:

configure OIDC:
[code]

I am able to sign in using the basic role, but when i try to switch to sre role for better authorization management. It does not works

![image](https://user-images.githubusercontent.com/22878843/106090223-b6ac7c00-614f-11eb-9ef5-a8f815d6e192.png)

[2021-01-28 05:10] #156 closed

[2021-01-29 01:17] #135 closed

[2021-02-23 10:34] Shahard2 commented on #116
Hello,
i have this issue as well.

Any solution so far?

[2021-02-24 17:15] candlerb commented on #47
This problem also exists for the [standard claim](https://openid.net/specs/openid-connect-basic-1_0.html#StandardClaims) `email_verified`:

[code]

Result:

[code]

[2021-02-26 02:28] sidewinder12s commented on #103
Was able to work around this by adding this flag when SSHing into a remote machine:

[code]

And then clicking on the Auth URL when it was presented.

[2021-03-25 13:02] Eyal-Shalev commented on #128
@afrosimon THANK YOU VERY VERY MUCH.
Hours of headaches solved by your investigation.

[2021-04-14 16:09] jefferai commented on #75
One possibility would be to check if the provided URL contains query params and if so, treat it as an absolute override URL. If not, treat it as a base URL for discovery.

[2021-04-14 17:14] kalafut commented on #75
@austingebauer @calvn Now that we have provider-specific configs this could be worth a relook.

[2021-04-23 22:47] pbhalera opened #169 "OIDC should support Authorization,Token and Userinfo endpoints if well-known configuration endpoint is not present on provider"
While configuring OIDC provider i encounter that provider it doesnt expose /.well-known/openid-configuration endpoint. But it has all Authorization endpoint ,Token endpoint and Userinfo endpoint. But current implementation doesn't support it.

Can you please support to overwrite these endpoint in vault auth configuration

[2021-05-13 16:34] stuartpurgavie commented on #109
My workaround for this was to go way overboard with json pointers using a test role. I've pasted an example config json that I used to inspect what groups were actually in the groups claim from the okta identity provider. It has a number of limitations and I wouldn't recommend implementing this pattern in production as it doesn't scale, but it might help someone doing some troubleshooting.
[code]

[2021-05-27 15:31] Ferroman opened #171 "Providing file path to the gsuite_service_account in not working anymore"
Providing `service_account.json` as escaped JSON string works as expected, but path to file does not work anymore. Doesn't matter what type of path used - relative or absolute

Vault command:

[code]

With absolute path:
[code]
[code]
Relative:
[code]
[code]

`service_account.json` exists and acceptable by the vault CLI.

Vault version: `Vault v1.7.2 (db0e4245d5119b5929e611ea4d9bf66e47f3f208)`

Pe

[2021-05-27 17:15] austingebauer commented on #171
Hi, @Ferroman. The `service_account.json` file needs to be readable on the host that Vault server is running on. The Vault CLI doesn't read the file in this case. I just checked to make sure that both options for providing the service account are working in 1.7.2. Let me know if that works for you.

[2021-05-27 18:41] Ferroman commented on #171
Thank you for a quick answer! It was unclear for me that service account  file should be present on server during Vault configuration. Documentation said "host", I wasn't sure is this Vault server host, or the host where I run vault CLI.

I guess escaped JSON string is more secure than file - it is easy to forget remove secret from the server's disk after setup.

Now it's clear, thank you.

[2021-05-27 18:41] #171 closed

[2021-06-24 21:13] #126 closed

[2021-08-10 18:54] dekimsey opened #178 "[req] Configurable aliases independent from the user_claim"
So this comes from my experience setting up Azure OIDC authentication in our Vault cluster.  I believe it would be generally applicable to other examples.

I'd like to be able to declare what aliases are generated, and have that be independent from the user claim. This way I can use a durable, but opaque identifier for the user_claim, and a set more operator-friendly aliases instead.

With Azure,

[2021-08-13 18:59] frank1210 opened #179 "Vault OIDC cannot fetch g suite groups"
When trying to login I get a 401 error at group fetching. I have tried different online solutions but nothing seems to help.

**Current vault config:**

**Current vault role:**

**Error received:**

`failed to fetch groups: Get "https://www.googleapis.com/admin/directory/v1/groups?alt=json&fields=nextPageToken%2Cgroups%28email%29&prettyPrint=false&userKey=REDACTED": oauth2: cannot fetch token: 401

[2021-08-23 10:06] taki-mekhalfa opened #180 "[req] Allow json pointers when specifying a user claim"
Hello,
Is it possible to allow for JSON pointers when specifying a `user_claim` in JWT roles?
In some cases, the user is uniquely identified by a non root attribute, as for the following example:

[code]

It would be great if we could do `user_claime="/user/email"`.

I would be happy to work on this feature if you think it can be done without breaking something else.

Thank you,
Taki

[2021-08-23 23:39] austingebauer commented on #180
Hi, @taki-mekhalfa! I just noticed that we already have a PR open (https://github.com/hashicorp/vault-plugin-auth-jwt/pull/148) for adding this feature. I'm happy to move that PR forward now that we have some expressed interest in it.

[2021-08-24 07:52] taki-mekhalfa commented on #180
Looks promising, thank you!

[2021-09-01 13:01] jmls commented on #117
I've just hit this as well - would like to be able to specify a custom url

[2021-10-01 10:08] nomatterz opened #181 "JWT validation fails after EKS OIDC provider's key rotation"
I'm using AWS EKS(1.21) with external Vault(1.7.2).
I've configured jwt auth method in Vault:
[code]
Everything works fine **until** OIDC provider rotates keys.
after rotation i'm getting error while login to Vault
[code]

After disabling and reconfiguring (with exactly the same parameters) auth method in Vault this is fixed immediately.

Is there a way to handle this key rotation automatically by

[2021-10-01 15:30] austingebauer commented on #181
Hi, @nomatterz. Thanks for reporting this issue. The auth-jwt plugin _should_ handle key rotation without problem. The JWT validation code uses https://github.com/coreos/go-oidc/blob/v3/oidc/jwks.go#L97-L131 under the hood, which refreshes its cached keys from the remote JWKS if it cannot find a `kid` match. You can see that the log line you provided is coming from [this line](https://github.com/c

[2021-10-04 18:05] nomatterz commented on #181
Hi @austingebauer
Thank you for your attention.
Each AWS EKS cluster can have associated OIDC provider. AWS do not provide a lot details about it (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html) or i'm not aware.
Each service account in kubernetes uses token with this OIDC provider as issuer:
[code]

I've configured jwt auth method in vault

[2021-11-26 07:29] nadendlaprasad commented on #180
@austingebauer  any idea when PR can be merged ?

[2021-12-02 08:31] lawliet89 opened #189 "CLI Login fails with POST response mode"
I have an OIDC auth mounted at `oidc`:

[code]

Logging in with the UI works, but it fails when I try to login with the CLI. The page returned is devoid of any information:

[code]

![image](https://user-images.githubusercontent.com/983101/144385315-43ee5771-77d5-418c-9561-ccd8a3e736f4.png)

And the CLI says

[code]

Peeking into the network callback from the OIDC IDP, this is the equivalent callb

[2021-12-02 14:49] DrDaveD commented on #189
Yes, a self-signed certificate would explain the error.  The host certificate has to be able to be verified by the client.

[2021-12-02 21:57] DrDaveD commented on #189
Oh I didn't realize, the vault login command line client has an option -tls-skip-verify.  That might work for you for testing, but don't use it for production.

[2021-12-03 02:13] lawliet89 commented on #189
That does not work because it sets the options for the Vault API client which is not used in that POST request.

[2021-12-03 07:51] kalafut commented on #189
We'd probably have to update the Client to do a form post, or add even more options to the CLI.

Do you actually need `form_post`? I know of just one use/request for it, and that mode is basically never asked about. So I'm curious of the situation where the `code` flow won't work.

[2021-12-03 11:34] lawliet89 commented on #189
I am using the groups information from Okta to assign identity groups to users who login to Vault.

Normally, with the `code` flow, Okta will return both an ID token and access token and then expect the token consumer to use the profile endpoint to get gorup information.

There are two ways to get group information in the ID Token:

- Use a "fat" token which requires the `form_post` method
- Use a

[2021-12-03 19:06] kalafut commented on #189
Interesting. I wasn't aware that the extra claims info required a different SKU. Makes we wonder if there isn't perhaps an opportunity to add a custom provider for Okta, like we have for GSuite and Azure. e.g. in GSuite we need to make a trip back to the server to fetch groups as there is simply no way to have them embedded (or wasn't last time we checked): https://github.com/hashicorp/vault-plugi

[2021-12-06 02:42] lawliet89 commented on #189
That sounds like it might work. Or it could be something more generic since according to the Okta docs, this behaviour is to be expected form the OIDC RFC.

[2021-12-06 20:31] mipnw opened #190 "vault CLI does not receive localhost:8250 redirect after auth"
I run `VAULT_ADDR=https://vault.<mydomain>.io vault login -method=oidc` in a shell on MacOS and see Google Chrome open, i'm asked to authenticate with credentials, then the browser redirects to `http://localhost:8250/oidc/callback?code=[redacted]&state=[redacted]`. Vault CLI however does not seem to receive that code, it eventually times out with
[code]
Vault CLI does seem to open listening port 8

[2021-12-06 22:19] kalafut commented on #190
What does chrome say (e.g. the network tab)?

[2021-12-06 22:31] mipnw commented on #190
Chrome displays
[code]

[2021-12-08 01:53] lawliet89 commented on #189
For future readers, I found a workaround for this issue by adding a new profile claim for the application and switching back to the `code` flow.

In your Okta admin panel, go to Directory -> Profile Editor. Choose your app, and then click "add attribute" to create something like this:

![image](https://user-images.githubusercontent.com/983101/145134309-e57b0080-2c0f-41a2-a939-e6cd1a19c6d1.png)

Th

[2021-12-08 17:47] DrDaveD commented on #190
Pr #30 would probably help with this.

[2022-03-01 15:30] axolotlgeoff opened #199 "Out of date dependency causing error fetching G-Suite groups with GCP restricted VIP"
The Admin SDK endpoints are not available on the [restricted VIP](https://cloud.google.com/vpc-service-controls/docs/restricted-vip-services) so return this error:

[code]

It seems that pre-0.35.0 versions of `google.golang.org/api` make calls to `www.googleapis.com` and from 0.35.0 is makes calls to the product-specific host at `admin.googleapis.com`.

Opening access to the non-restricted `www.g

[2022-03-28 14:58] xkobal opened #200 "JWT/OIDC Token Verification"
Hi,

I m trying to setup JWT Verification with JWT Token validation on my Vault Server.
My OIDC provider is Auth0.
I have read plenty of documentation and see that there is 3 ways of doing this:

* Static Keys => it works but I don't want to create others JWT Tokens, I want to validate the Auth0 tokens.
* JWKS => it works
* OIDC Discovery => I am not able to setup. I have tried a lot of different

[2022-03-28 16:20] austingebauer commented on #200
Hi, @xkobal. To use OIDC discovery for JWT auth configuration, you'll need to unset the `oidc_client_id` and `oidc_client_secret` in the config. You can unset them by supplying empty strings for both values to the `auth/jwt/config` endpoint similar to:
[code]

[2022-03-29 07:23] xkobal commented on #200
It works. Thanks a lot.

[2022-03-29 07:24] xkobal commented on #200
Is it something specific to Auth0 or to any OIDC provider ?

[2022-03-29 19:56] austingebauer commented on #200
@xkobal - No problem! It's not specific to Auth0. The plugin uses the existence of a client ID and secret to determine if the configuration is for JWT or OIDC auth. For JWT-based auth, those values must be empty.

[2022-03-29 19:56] #200 closed

[2022-03-30 07:16] xkobal commented on #200
Thanks for the information. Maybe it's something that would be useful to document ?

[2022-03-30 17:57] austingebauer commented on #200
I agree that this could be made more apparent in the docs. I'll make an update 👍

[2022-05-10 07:13] ryanleis commented on #180
Hi @austingebauer can this PR please be revisited and merged. Details have been placed into internal ticket.

[2022-05-10 15:56] austingebauer commented on #180
@ryanleis - I would also like to see this capability added to the plugin. I'll be advocating to get this prioritized with my team and will provide an update shortly.

[2022-05-16 20:17] #180 closed

[2022-06-10 08:26] mbudim commented on #171
Hi, what is your escaped json file looks like ? I tried but failed. Could you show me paste here ?

[2022-06-17 13:22] Jasper-Ben opened #206 "JWT/OIDC config for Kubernetes fails with audience claim does not match any expected audience"
**Describe the bug**
Trying to use JWT for authenticating the Kubernetes vault-injector against vault results in the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Follow the documentation on setting up JWT/OIDC for Kubernetes with external vault cluster as described here:
- https://www.vaultproject.io/docs/auth/jwt/oidc_providers#kubernetes
- https://www.vaultproject.

[2022-06-17 15:34] austingebauer commented on #206
@Jasper-Ben - Can you compare the `aud` claim of the JWT you're using to authenticate to your `bound_audiences` value on the role? I suspect there is a mismatch.

[2022-06-17 17:26] tomhjp commented on #206
Yeah I think @austingebauer is probably right. Assuming you are not manually changing the service account token projected into your application pod with a `projected` volume, you can find the audience you need to use by creating a token:

[code]

Check the `aud` field in that token. It will often match the `iss` field, but sometimes it won't (if `kube-apiserver`'s [`--api-audiences`](https://kuber

[2022-06-17 17:49] #199 closed

[2022-06-20 09:44] Jasper-Ben commented on #206
@austingebauer @tomhjp Thanks! That was indeed the issue. :+1:  Is this something that should be added to the documentation or was I just blind?

[2022-06-21 13:46] tomhjp commented on #206
Excellent! Thanks for pointing that out, the docs could definitely offer more help here. I've raised #16080 to improve - lmk if you have any further suggestions!

[2022-06-21 13:46] #206 closed

[2022-07-15 20:36] tam116 opened #207 "Feature request: Add support for private_key_jwt as an alternative to client_secret"
Microsoft is strongly pushing to use x509 based client authentication, see: https://devblogs.microsoft.com/microsoft365dev/client-secret-expiration-now-limited-to-a-maximum-of-two-years

It would be great if the ODIC/JWT auth plugin in Vault could support this part of the OIDC spec: https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

I would assume that Vault would generate

[2022-07-27 14:38] odu14ick commented on #68
I would just like to add that his renders the CLI that is built in Vault UI completely useless in case you need to use bound_claims (since this CLI only accepts `vault` commands and you can't even echo there.

For instance if you need to create a role for gitlab jwt auth like I do.

Moreover, since there's also no way to create said role from the UI itself - it brings up a question of what is the

[2022-08-08 11:30] EvertonSA opened #213 "[Help] groups_claim lookup on claim at userinfo not working"
Hi colleagues,

I have successfully integrated my oidc with vault.

my oidc provider add some important claims at `/oauth/userinfo`

the bellow default oidc role works:

[code]

the bellow default oidc role does not work:

[code]

I assume it does not work because as mentioned in gitlab docs `https://gitlab.org/claims/groups/developer` array list is only present on `/oauth/userinfo`.

but...
the b

[2022-08-08 11:34] EvertonSA commented on #213
I have also found some people saying that this already worked in vault version 1.6.3

![image](https://user-images.githubusercontent.com/30481051/183409076-d5f2c4fe-b57c-4387-8d76-79c1d4148349.png)

https://forum.gitlab.com/t/hashicorp-vault-oidc-group-membership/51651/13

[2022-08-12 19:06] swenson commented on #111
Hi,

Thanks for bringing this up.

In general, we can't support HS256/HS384/HS512 for the JWT plugin because there isn't an easy, secure, standard way to configure it.

Generally when configuring the JWT plugin, you specify a set of public keys, which are safe to share.

If we allowed shared symmetric secrets, you'd have to specify them **in plaintext** as part of the configuration of the plugin,

[2022-08-12 19:06] #111 closed

[2022-10-18 12:02] redbaron commented on #179
Can't make it work in Vault v1.11.3 with very same symptoms :(

[2022-10-18 15:41] austingebauer commented on #179
Thanks, @redbaron. I was able to successfully set up the Vault OIDC and Google Workspace integration just now. I suspect this is a configuration issue and not a bug. Let me know if you are still having trouble @frank1210 and @mrnonz. Happy to help.

[2022-10-19 03:56] austingebauer commented on #213
Hi, @EvertonSA! The `groups_claim` is evaluated after additional claims are obtained from the userinfo endpoint. You can see this starting at where userinfo is requested [path_oidc.go#L278](https://github.com/hashicorp/vault-plugin-auth-jwt/blob/main/path_oidc.go#L278) to where the claims are parsed using the `groups_claim` for the role [path_oidc.go#L295](https://github.com/hashicorp/vault-plugin

[2022-10-25 12:43] TheMisterEletric opened #216 "Fail to get groups from google if workplace have more that 1 domain setup"
**Describe the bug**
If i have more that 1 domain configure in my google workplace, i got a erro trying to get the groups:
{
    "error": {
        "code": 404,
        "errors": [
            {
                "domain": "global",
                "message": "Domain not found.",
                "reason": "notFound"
            }
        ],
        "message": "Domain not found."
    }
}

**To Reprod

[2022-10-26 17:25] austingebauer commented on #216
Thank you, @hsimon-hashicorp :)

[2022-10-26 20:15] mbillow opened #217 "[req] Ability to use JWT Role Name as Identity entity alias name"
# Problem

There are certain situations where individual claims in the JWT tokens are insufficient at properly identifying a unique identity.

Take [GitLab JWTs](https://docs.gitlab.com/ee/ci/examples/authenticating-with-hashicorp-vault/#how-it-works) as an example. Each claim in the JWT is a distinct, disparate piece of information about which repo, branch, user, etc. caused the CI job to spawn.

[2022-11-04 19:02] TheMisterEletric commented on #216
Hello,
There any feedback about this?

[2022-11-14 08:14] smarkatov commented on #216
Hi. We're having the same issue. Are there any updates on it?